:root{
    --main-color:tomato;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*start setting box*/
.setting-box{
    position: fixed;
    top: 0px;
    left: -200px;
    background-color: rgba(0,0,0,0.8);
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #EEE;
}
.setting-box.open{
left: 0px;
}
.setting-box .toggle{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    padding: 8px 0px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.setting-container{
    margin-top: 20px;
   margin-left: 13px;
   margin-bottom: 20px;
}
.setting-container .option-box{
    text-align: center;
    background-color: #EEE;
    width: 160px;
    margin: 10px;


}
.setting-container .option-box h4{
    color: #666;
    font-size: 13px;
}
.setting-container .option-box .yes,.setting-container .option-box .no{
    width: 50px;
    background-color:var(--main-color);
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    margin-bottom: 10px;
    cursor: pointer;
}
.setting-box .option-box span.active{
    opacity: 1;
}
.setting-container .option-box ul{
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 10px 0px 0px;
}
.setting-container .option-box ul li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 3px solid #EEE;
}
.setting-container .option-box ul li.active{
    opacity: 1;
    border-color: white;
}
.setting-container .option-box ul li:nth-child(1){
    background-color: tomato;
}
.setting-container .option-box ul li:nth-child(2){
    background-color: aqua;
}
.setting-container .option-box ul li:nth-child(3){
    background-color: yellow;
}
.setting-container .option-box ul li:nth-child(4){
    background-color: crimson;
}
.setting-container .option-box ul li:nth-child(5){
    background-color: blue;
}
.setting-box .reset-option{
    background-color: #f4433f;
    border: none;
    width: 160px;
    margin: 10px auto;
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}
/*end setting box*/
/*.........................................................*/
.landing{
    min-height: 100vh;
    background-image: url('../images/home-bg1.jpeg');
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 01s ease-in-out;
    background-position: center;
    background-attachment: fixed;
    background-size:1600px 740px;
    background-repeat: no-repeat;
}
.overlay{
    background-color: rgba(0,0,0,.5);
}
.landing .overlay{
   /* background-color: rgba(0,0,0,.6);*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.landing .container{
    position: relative;
    z-index: 10000;
}
.header{
    position: relative;
    z-index: 2;
    color: pink;
    background-color:rgba(1,1,1,0.8);
    padding: 10px;
    display: flex;
    height: 90px;
}
.header .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 70px;
    margin-left: 25px;
    margin-top: 2px;  
}
/*.........................*/
.header .links-container{
    width: 70%;
    margin: auto;
}
.header .links-container .links{
/*display: flex;*/
padding: 20px;
list-style: none;
text-align: left;
width: 100%;
display: inline-flex;
}
.header .links-container .links li {
    display: inline;
    text-align: center;
}
.header .links-container .links li a{
    padding-left: 20px;
}
.drobdown ul{
    margin-top: 33.8px;
    margin-left: -15px;
    text-align: center;
}
.drobdown ul li a{
    display: none;
    padding-bottom: 20px;
}
.myul .links li:hover .drobdown li a{
    display: block;
    padding-bottom: 20px;
}
/*
.header .links-container .links li .fa-user-alt{
    margin-left: 150px;
    font-size: 25px;
    margin-top: 3px;
    color: white;
}*/
.header .fa-shopping-cart{
  font-size: 25px;
  float: right;
  color: white;
  margin-top: 0px;
position: absolute;
top: 30%;
right: 10%;
}
.header .links-container{
    text-align: right;
}
.header .links-container .links li a{
    color: white;
    font-size: 18px;
    padding-right: 30px;
    text-decoration: none;
    z-index: 100;
}
.header .links-container .links li a:hover{
    color: deeppink;
}
/*.........logout..........*/
.header .logout{
    width: 100px;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    right: 2%;
}
.header .logout:hover{
    width: 100px;
}
.header .logout a{
    color: rgba(0,0,0,0.8);
 text-decoration: none;
}
.header .logout a:hover{
    text-decoration: none;
    color: pink;
}
/*...........**...........*/
/*..............................................*/
.header{
    position: relative;
}
.header .toogle-menu{
    background: none;
    right: 15%;
    border: none;
    width: 40px;
    cursor: pointer;
    display: none;
    position: relative;
    position: absolute;
    top: 40%;
}
.header .toogle-menu.menu-active::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    bottom: -16px;
    left: 10px;
    border-color: transparent transparent white transparent;
}
.header .toogle-menu:focus{
    outline: none;
}
.header .toogle-menu span{
    display: block;
    height: 4px;
    background-color: white;
    margin-bottom: 4px;
}

.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    z-index: 2;
    width: 95%;
}
.intro h1{
    font-size: 34px;
    margin: 0px 0px 12px;
}
.intro h1 span{
color: var(--main-color);
}

.intro p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0px;
}
@media(min-width:1100px){
    .drobdown ul{
        margin-top: 33.8px;
        margin-left: -15px;
        text-align: center;
        background-color: rgba(0,0,0,0.8);
    }

}
@media(max-width:1350px){
    .header .fa-shopping-cart{
        float: right;
        margin-right: 90px;
        font-size: 20px;
        color: white;
        position: absolute;
        right:5%;
        top: 40%;
    }
    .header .links-container .links li a{
        display: none;
    }
    .header .links-container .links i{
        display: none;
    }
    .drobdown ul li a{
        display: none;
      /* background-color: white;*/
        padding-bottom: 20px;
    }
    .drobdown ul{
        margin-top: 0px;
    }
    .header ul li{
        display: block;
        text-align: center;
    }
    .header ul .links.open{
        display: block;
        background-color: rgba(1, 1, 1, .8);
        position: absolute;
        padding: 20px;
        left: 0;
        top: 85px;
        width: 100%;
        border-radius: 4px;
        z-index: 100000;
    }
    
    .header ul .links.open li a{ 
       color: white;
        font-weight: bold;
        display: block;
        padding-bottom: 20px;
    }
    .header .toogle-menu{
        display:inline-block;
    }
}
@media(max-width:1150px){
    .header .toogle-menu{
        position: absolute;
        right: 20%;
    }
}
@media(max-width:1000px){
    .header .toogle-menu{
         position :absolute;
        right: 22%;
    }
}
    @media(max-width:775px){
        .header .toogle-menu{
             position :absolute;
            right: 26%;
        }
    }
        @media(max-width:557px){
            .header .toogle-menu{
                 position: absolute;
                right: 30%;
            }
}
/*end landing page*/

  .section1{
    display: flex;
     margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 90%;
}
 .section1 .CCCAARD{
    position: relative;
   width: 350px;
   height: 320px;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-bottom: 20px;
}
.section1 .CCCAARD .BBOOX{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}
.section1 .CCCAARD:hover .BBOOX{
transform: rotateY(180deg);
}
.section1 .CCCAARD .BBOOX .IIMGE_BOX{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
.section1 .CCCAARD .BBOOX .IIMGE_BOX img{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.section1 .CCCAARD .BBOOX .CCONTANT_box{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.452);
 backface-visibility: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 transform-style: preserve-3d;
 transform: rotateY(180deg);
}
.section1 .CCCAARD .BBOOX .CCONTANT_box div{
    transform-style: preserve-3d;
    padding: 15px;
    background: linear-gradient(45deg,#dfd7d7,#3a3a3a);
    transform: translateZ(100px);
}
.section1 .CCCAARD .BBOOX .CCONTANT_box div h2{
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "lobster";
    text-shadow: 2px 2px 3px white;
}
.section1 .CCCAARD .BBOOX .CCONTANT_box div p{
    color:#fff;
    font-size: 16px;
}
    /*start of sale*/
    .sale{
        background-color:rgba(1, 1, 1, 0.8);
        background-image: url(../images/home-bg6.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 50px;
        background-position: center;
        margin-bottom: 70px;
       }
       .sale h1{
           text-align: center;
           letter-spacing: 10px;
           word-spacing: 10px;
           font-family: "lobster";
           font-size: 50px;
           padding-top: 30px;
           color: white;
           text-shadow: 2px 2px 2px deeppink;
       }
       .deadline{
           height: 130px;
           width: 80%;
           margin: auto;
           margin-bottom: 50px;
           display: flex;
           justify-content: space-around;
           text-align: center;
           margin-top: 20px;
       }
       .time{
           color: white;
           width: 80px;
           height: 80px;
           text-shadow: 2px 2px 2px deeppink;
       }
       .time h4{
           margin-bottom: 0px;
           font-family: 'Lobster', cursive;
           margin-top: 4px;
           font-size: 50px;
       }
       .time p{
           font-size: 20px;
           font-family: sans-serif;
       }
       /*end of sale*/
       /*start of random product*/
       .random{
           width: 90%;
           margin: auto;
           text-align: center;
           margin-bottom: 100px;
       }
       .random h1{
           text-align: center;
           font-family: 'lobster';
           font-size: 50px;
           margin-bottom: 40px;
       }
       .random .btns{
        width: 100%;
        justify-content: space-around;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        transition-delay: 1s;
        width: 100%;
       }
       .random .content{
        width: 100%;
        justify-content: space-around;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        transition-delay: 1s;
        width: 100%;
       }
       .random .content img{
         width: calc(80% /4);
           height: 300px;
           margin-right: 18px;
           border-radius: 5px;
       }
      .random .btns{
        overflow: hidden;
        width: 100%;
    }
    .random .btn{
        background-color:rgba(1, 1, 1, 0.8);
        font-size: 18px;
        padding: 10px 10px;
        width: 200px;
        float: left;
        outline: none;
        color: pink;
        cursor: pointer;
    }
    .random .btn{
        text-align: center;
    position: relative;
    overflow: hidden;
    float: left;
    width: calc(75% /4);
    margin-right: 40px;
    margin-left: 20px;
    }
    .random .active{
        background-color: pink;
        color: rgba(1, 1, 1, 0.8);
    }
    .random .btn:hover:not(active){
        background-color: #9999;
        border-radius: 3xp;
    }
    .random .content{
        padding: 20px;
        display: none;
    }
    .random .content.active1{
        display: block;
    }
@media(max-width:1200px){
        .random .btn{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
    width: calc(80% /2);
    margin-right: 25px;
        }   
    }
    @media(max-width:1000px){
        .random .btn{
            text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
    width: calc(80% /2);
    margin-right: 25px;
        }   
    }
    @media(max-width:800px){
        .random .content{
            width: 100%;
            justify-content: space-around;
            text-align: center;
            position: relative;
            margin-bottom: 20px;
            transition-delay: 1s;
            width: 100%;
           }
           .random .content img{
             width: calc(80% /2);
               height: 300px;
               margin-right: 18px;
               border-radius: 5px;
               margin-bottom: 20px;
           }
    }
       /*end of random product*/
       /*......................................*/
       /*start of vedio*/
/*start of vedio/
/* start of the section */
.vedios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.vedio1,.vedio2,.vedio3{
    width: 400px;
    height: 400px;
}
.Videos-div{
    text-align: center;
}
.Videos-div h2{
    font-size: 38px;
    font-family: 'lobster';
    font-size: 50px;
}
.Videos-div p{
    color: gray;
    margin-top: 18px;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 25px;
    margin-bottom: 30px;
}
.banner1,.banner2,.banner3{
   background-image: url('../images/home-bg2.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 250px;
   border-radius: 10px;
   position: relative;
}
.banner2{
    background-image: url(../images/vedio-pic1.png);
}
.banner3{
    background-image: url(../images/home-bg5.jpeg);
}
button:hover{
    transform: scale(1.2);
    transition-duration:.5s ;
}
video{
    width: 600px;
    margin-top: -3px;
    margin-bottom: -3px;
    height: 500px;
    background-color: rgba(1, 1, 1, .8);
    border: 3px solid transparent;
    border: none;
    margin: auto;
}
.over-lay1,.over-lay2,.over-lay3{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, .8);
    display: none;
    z-index: -1;
}
.modal-content{
   position: relative;
   background-color: rgba(1, 1, 1, .8);
    border: rgba(1, 1, 1, .8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.open-lay{
    display: block;
    background-color: rgba(1, 1, 1, .8);
    z-index: 1;
}
.close-btn1,.close-btn2,.close-btn3{
    position: absolute;
    bottom: 97%;
    left:98%;
    border-radius: 30%;
    border: none;
    cursor: pointer;
    outline: none;
    width: 30px;
    z-index: 2;
    height: 30px;
    background-color: black;
    color: white;
}
/*end of vedios/
/.................................................................../
/*...................................................................*/
.contact{
    height: 400px;
    background-image: url(../images/contact.png);
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-top: -100px;
    position: relative;
}
.contact .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.6);
    background-color: rgba(255,255,255,.6);
}
.contact .container{
    position: relative;
    z-index: 1000;
}
.contact h2{
    font-weight: bold;
    font-size: 50px;
    font-family: 'lobster';
    margin: 0px 0px 50px; 
    text-align: center; 

}
.contact form{
    max-width: 800px;
    margin: auto;
}
.contact form .left{
    float: left;
    width: 49%;
}
.contact form .right{
    float: right;
    width: 49%;
}
.contact form input:not([type="submit"]),.contact form textarea{
    display: block;
    width: 100%;
    padding:10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: (218,218,218,0.19);
}
.contact form input:not([type="submit"]):focus,.contact form textarea:focus{
outline: 1px solid var(--main-color);
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type="submit"]{
    padding: 1px 10px;
    font-size: 20px;
    width: 100%;
    border-color: transparent;
    background-color:pink;
    color: white;
    cursor: pointer;
}
.contact form input[type="submit"]:hover{
    background-color: rgba(1, 1, 1, 0.8);
}
@media(max-width:767px){
    .contact form .left,.contact form .right{
        float: none;
        width: 100%;
        margin: auto;
    }
   footer{
       margin-top: 200px;
   }
}
/*****************  start of footer  ******************/
span{
    color: rgb(241, 120, 181);
}
footer h1{
   color: rgb(241, 120, 181);
   text-shadow: rgb(8, 8, 8) 1px 1px 3px;
   font-family: 'lobster';
}
footer input{
    outline: none;
    border: none;
}
.icon ul li{
    position: relative;
    display: block;
    list-style: none;
    font-size: 35px;
    width: 60px;
    height: 60px;
    background-color: rgb(241, 120, 181);
    line-height: 60px;
    border-radius: 50%;
    margin: 0px 5px;
    transition: .5s;
    box-shadow: 0 0 15px  #171515;
    text-shadow: 0 0 5px  #171515;
}
.icon ul{
    display: flex;
    align-items: center;
    text-align: center;
}
.icon ul li:hover{
    font-size: 30px;
    box-shadow: 0 0 15px rgb(241, 120, 181);
    text-shadow: 0 0 15px rgb(241, 120, 181);
    background-color: #171515;
}
@media(max-width:1200px){
    .icon ul{
        margin-left:300px ;
    }
    .last{
        margin-top: 50px;
    }
}
@media(max-width:992px){
    .icon ul{
        margin-left:180px ;
    }
}
@media(max-width:768px){
    .icon ul{
        margin-left:90px ;
    }
}
@media(max-width:576px){
    .icon ul{
        margin-left:30px ;
    }
}
/*.............................end of footer....................*/


/*.............................end of footer....................*/
