:root{
    --main-color:tomato;
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 200px;
    overflow-x: hidden;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*start setting box*/
.setting-box{
    position: fixed;
    top: 0px;
    left: -200px;
    background-color: rgba(0,0,0,0.8);
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #EEE;
}
.setting-box.open{
left: 0px;
}
.setting-box .toggle{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    padding: 8px 0px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.setting-container{
    margin-top: 20px;
   margin-left: 13px;
   margin-bottom: 20px;
}
.setting-container .option-box{
    text-align: center;
    background-color: #EEE;
    width: 160px;
    margin: 10px;


}
.setting-container .option-box h4{
    color: #666;
    font-size: 13px;
}
.setting-container .option-box .yes,.setting-container .option-box .no{
    width: 50px;
    background-color:var(--main-color);
    color: white;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: .5;
    margin-bottom: 10px;
    cursor: pointer;
}
.setting-box .option-box span.active{
    opacity: 1;
}
.setting-container .option-box ul{
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 10px 0px 0px;
}
.setting-container .option-box ul li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 3px solid #EEE;
}
.setting-container .option-box ul li.active{
    opacity: 1;
    border-color: white;
}
.setting-container .option-box ul li:nth-child(1){
    background-color: tomato;
}
.setting-container .option-box ul li:nth-child(2){
    background-color: aqua;
}
.setting-container .option-box ul li:nth-child(3){
    background-color: yellow;
}
.setting-container .option-box ul li:nth-child(4){
    background-color: crimson;
}
.setting-container .option-box ul li:nth-child(5){
    background-color: blue;
}
.setting-box .reset-option{
    background-color: #f4433f;
    border: none;
    width: 160px;
    margin: 10px auto;
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

}
/*end setting box*/
/*.........................................................*/
.landing{
    min-height: 100vh;
    background-image: url('../images/services2.jpeg');
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 01s ease-in-out;
    background-position: center;
    background-attachment: fixed;
    background-size:1600px 740px;
    background-repeat: no-repeat;
}
.overlay{
    background-color: rgba(0,0,0,.5);
}
.landing .overlay{
   /* background-color: rgba(0,0,0,.6);*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.landing .container{
    position: relative;
    z-index: 10000;
}
.header{
    position: relative;
    z-index: 2;
    color: pink;
    background-color:rgba(1,1,1,0.8);
    padding: 10px;
    display: flex;
    height: 90px;
}
.header .logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 70px;
    margin-left: 25px;
    margin-top: 2px;  
}
/*.........................*/
.header .links-container{
    width: 70%;
    margin: auto;
}
.header .links-container .links{
/*display: flex;*/
padding: 20px;
list-style: none;
text-align: left;
width: 100%;
display: inline-flex;
}
.header .links-container .links li {
    display: inline;
    text-align: center;
}
.header .links-container .links li a{
    padding-left: 20px;
}
.drobdown ul{
    margin-top: 33.8px;
    margin-left: -15px;
    text-align: center;
}
.drobdown ul li a{
    display: none;
    padding-bottom: 20px;
}
.myul .links li:hover .drobdown li a{
    display: block;
    padding-bottom: 20px;
}
/*
.header .links-container .links li .fa-user-alt{
    margin-left: 150px;
    font-size: 25px;
    margin-top: 3px;
    color: white;
}*/
.header .fa-shopping-cart{
  font-size: 25px;
  float: right;
  color: white;
  margin-top: 0px;
position: absolute;
top: 30%;
right: 10%;
}
.header .links-container{
    text-align: right;
}
.header .links-container .links li a{
    color: white;
    font-size: 18px;
    padding-right: 30px;
    text-decoration: none;
}
.header .links-container .links li a:hover{
    color: deeppink;
}
/*.........logout..........*/
.header .logout{
    width: 100px;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    top: 30%;
    right: 2%;
}
.header .logout:hover{
    width: 100px;
}
.header .logout a{
    color: rgba(0,0,0,0.8);
 text-decoration: none;
}
.header .logout a:hover{
    text-decoration: none;
    color: pink;
}
/*...........**...........*/
/*..............................................*/
.header{
    position: relative;
}
.header .toogle-menu{
    background: none;
    right: 15%;
    border: none;
    width: 40px;
    cursor: pointer;
    display: none;
    position: relative;
    position: absolute;
    top: 40%;
}
.header .toogle-menu.menu-active::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    bottom: -16px;
    left: 10px;
    border-color: transparent transparent white transparent;
}
.header .toogle-menu:focus{
    outline: none;
}
.header .toogle-menu span{
    display: block;
    height: 4px;
    background-color: white;
    margin-bottom: 4px;
}

.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    z-index: 2;
    width: 95%;
}
.intro h1{
    font-size: 34px;
    margin: 0px 0px 12px;
}
.intro h1 span{
color: var(--main-color);
}

.intro p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0px;
}
@media(min-width:1100px){
    .drobdown ul{
        margin-top: 33.8px;
        margin-left: -15px;
        text-align: center;
        background-color: rgba(0,0,0,0.8);
    }
}
@media(max-width:1350px){
    .header .fa-shopping-cart{
        float: right;
        margin-right: 90px;
        font-size: 20px;
        color: white;
        position: absolute;
        right:5%;
        top: 40%;
    }
    .header .links-container .links li a{
        display: none;
    }
    .header .links-container .links i{
        display: none;
    }
    .drobdown ul li a{
        display: none;
      /* background-color: white;*/
        padding-bottom: 20px;
    }
    .drobdown ul{
        margin-top: 0px;
    }
    .header ul li{
        display: block;
        text-align: center;
    }
    .header ul .links.open{
        display: block;
        background-color: rgba(1, 1, 1, .8);
        position: absolute;
        padding: 20px;
        left: 0;
        top: 85px;
        width: 100%;
        border-radius: 4px;
        z-index: 100000;
    }
    
    .header ul .links.open li a{ 
       color: white;
        font-weight: bold;
        z-index: 100;
        display: block;
        padding-bottom: 20px;
    }
    .header .toogle-menu{
        display:inline-block;
    }
}
@media(max-width:1150px){
    .header .toogle-menu{
        position: absolute;
        right: 20%;
    }
}
@media(max-width:1000px){
    .header .toogle-menu{
         position :absolute;
        right: 22%;
    }
}
    @media(max-width:775px){
        .header .toogle-menu{
             position :absolute;
            right: 26%;
        }
    }
        @media(max-width:557px){
            .header .toogle-menu{
                 position: absolute;
                right: 30%;
            }
}
/*end landing page*/




/**********************start of services***********************/

.lightgray center h1{
    font-family: 'lobster';
    font-size: 70px;
    margin-bottom: 20px;
    text-shadow: rgb(179, 39, 107) 2px 2px 4px ;
}
.lightgray center p{
    color: gray;
     font-size: 20px;
}
.services h2{
    text-align: center;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    background-color: rgb(221, 220, 220);
    border-radius: 50%;
    transition-duration: .5s;
    box-shadow: #171515 0px 0px 15px;
} 
.services .fe h2:hover{
    box-shadow: rgb(52, 131, 168) 0px 0px 15px;
}
.services .fe button:hover{
     background-color: rgb(52, 131, 168);
}
.services .se h2:hover{
    box-shadow: rgb(160, 40, 80) 0px 0px 15px;
}
.services .se button:hover{
    background-color: rgb(160, 40, 80);
}
.services .th h2:hover{
    box-shadow: rgb(139, 122, 23) 0px 0px 15px;
}
.services .th button:hover{
    background-color: rgb(110, 99, 32);
}
.services .fo h2:hover{
    box-shadow:gray 0px 0px 15px;
}
.services .fo button:hover{
    background-color: gray;
}
.services .fi h2:hover{
    box-shadow: rgb(25, 170, 56) 0px 0px 15px;
}
.services .fi button:hover{
    background-color: rgb(25, 170, 56);
}
.services .si h2:hover{
    box-shadow: rgb(28, 105, 194) 0px 0px 15px;
}
.services .si button:hover{
    background-color: rgb(28, 105, 194);
}
.services h2:hover{
  background-color: black;
  transition-duration:.5s ;
}
.services h2 i{
    margin-top: 28px;
}
.services .mb-3 h1{
    font-size: 23px;
    text-align: center;
    margin: 20px;
    color: gray;
}
.services .col-4 p{
    text-align: center;
    font-size: 18px;
    color: gray;
}
.services .ser-div{
    padding:0px 20px;
}
.services .bg-white{
    box-shadow: rgb(151, 146, 149) 0px 0px 8px;
    border-radius: 10px;
}
.services button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    color: rgb(48, 47, 47);
    font-weight: 600;
}
@media(max-width:768px){
    .services .ser-div{
        width: 380px;
    }
}
/********************end of***************/
  /****************start of choose*****************/
  .choose{
    background-color: #f7f7f7;
    padding:  30px;
}
  .choose center p{
     color: gray;
     font-size: 20px;
  }
 .choose center h1{
    font-family: 'lobster';
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px pink;
  }
.inner{
    display: flex;
    margin-bottom: 30px;
    color: gray;
}
.inner i{
    padding:10px 30px;
    color: pink;
}
.vedio{
    width: 550px;
    height: 400px;
    margin-left: 50px;
}
.Videos-div{
    text-align: center;
}
.banner{
   background-image: url('../images/dress.jpeg');
   height: 420px;
   border-radius: 10px;
   cursor: pointer;
}
video{
    width: 600px;
    margin-top: -3px;
    margin-bottom: -3px;
    height: 500px;
    background-color: rgba(1, 1, 1, .8);
    border: 3px solid transparent;
    border: none;
    margin: auto;
}
.over-lay{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, .8);
    display: none;
    z-index: -1;
}
.modal-content{
   position: relative;
   background-color: rgba(1, 1, 1, .8);
    border: rgba(1, 1, 1, .8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.open-lay{
    display: block;
    background-color: rgba(1, 1, 1, .8);
    z-index: 1;
}
.close-btn{
    position: absolute;
    bottom: 97%;
    left:98%;
    border-radius: 30%;
    border: none;
    cursor: pointer;
    outline: none;
    width: 30px;
    z-index: 2;
    height: 30px;
    background-color: black;
    color: white;
}
@media(max-width:768px){
    .choose .vedio{
        width: 500px;
        height: 500px;
        margin: auto;
    }
}
@media(max-width:992px){
    .choose .vedio{
        width: 450px;
        height: 500px;
        margin: auto;
    }
}
@media(max-width:1200px){
    .choose .vedio{
        width: 500px;
        height: 500px;
        margin: auto;
    }
}
@media(max-width:576px){
    .choose .vedio{
        width: 400px;
        height: 500px;
        margin: auto;
    }
}
/*****************end of choose*****************/
/*start of time line*/
.timeline{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color:white;
}
.timeline h1{
    text-align: center;
    font-family: 'lobster';
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-bottom: 25px;
    color: rgba(1, 1, 1, .8);
    text-shadow: 3px 3px 3px pink;
}
.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content::before{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: pink;
    left: 50%;
    margin-left: -1px;
    top: 0px;
}
.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: pink;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 2px 5px;
}
.timeline .timeline-content .left,.timeline .timeline-content .right{
width: 48%;
margin-bottom: 40px;
position: relative;
}
.timeline .timeline-content .left{
    float: left;
}
.timeline .timeline-content .left::before,.timeline .timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    background-color: white;
    border: 3px solid pink;
    position: absolute;
    border-radius: 50px;
    top: 20px;
  
}
.timeline .timeline-content .left::before{
    right: -30px;  
}
.timeline .timeline-content .right::before{
    left: -30px;
}
.timeline .timeline-content .right{
    float: right;
}
.timeline .timeline-content .content{
    padding: 20px;
    background-color: pink;
}
.timeline .timeline-content .content h3{
font-weight: bold;
color: rgba(1, 1, 1, .8);
text-shadow: 3px 3px 3px white;
font-family: 'lobster';
margin: 0px 0px 10px;
}
.timeline .timeline-content .content p{
color: #666;
margin: 0px;
line-height: 1.6;
}
.clearfix{
    clear: both;
}
.timeline .timeline-content .left .content::before,.timeline .timeline-content .right .content::before{
    content: '';
    border-style: solid;
    border-width: 10px;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 20px;
}
.timeline .timeline-content .left .content::before{
    right: -20px;  
    border-color: transparent transparent transparent  pink;
}
.timeline .timeline-content .right .content::before{
    left: -20px;  
    border-color: transparent  pink transparent transparent;
}
@media(max-width:767px){
    .timeline .timeline-content .left,.timeline .timeline-content .right{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .timeline .timeline-content .left .content::before,.timeline .timeline-content .right .content::before{
        display: none;
    }
}
/*end of time line*/
/*****************  start of footer  ******************/
span{
    color: rgb(241, 120, 181);
}
footer h1{
   color: rgb(241, 120, 181);
   text-shadow: rgb(8, 8, 8) 1px 1px 3px;
   font-family: 'lobster';
}
footer input{
    outline: none;
    border: none;
}
.icon ul li{
    position: relative;
    display: block;
    list-style: none;
    font-size: 35px;
    width: 60px;
    height: 60px;
    background-color: rgb(241, 120, 181);
    line-height: 60px;
    border-radius: 50%;
    margin: 0px 5px;
    transition: .5s;
    box-shadow: 0 0 15px  #171515;
    text-shadow: 0 0 5px  #171515;
}
.icon ul{
    display: flex;
    align-items: center;
    text-align: center;
}
.icon ul li:hover{
    font-size: 30px;
    box-shadow: 0 0 15px rgb(241, 120, 181);
    text-shadow: 0 0 15px rgb(241, 120, 181);
    background-color: #171515;
}
@media(max-width:1200px){
    .icon ul{
        margin-left:300px ;
    }
    .last{
        margin-top: 50px;
    }
}
@media(max-width:992px){
    .icon ul{
        margin-left:180px ;
    }
}
@media(max-width:768px){
    .icon ul{
        margin-left:90px ;
    }
}
@media(max-width:576px){
    .icon ul{
        margin-left:30px ;
    }
}
/*.............................end of footer....................*/

